.logo {
    font-size: 2.5rem;
    font-family: "Cookie", cursive;
    color: #000000

}

.product__details__widget .share_text {
    font-size: 3rem;
	font-family: "Cookie", cursive;
}

.naira {
    width: 1rem;
    margin-top: -4px;
}
.canvas__open_cart {
    display: block;
    font-size: 22px;
    color: #222;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #323232;
    border-radius: 2px;
    cursor: pointer;
    position: absolute;
    right: 57px;
    top: 24px;
}
.canvas__open_cart a .tip{
    position: absolute;
    right: -4px;
    top: -6px;
    height: 18px;
    width: 18px;
    background: #111111;
    font-size: 10px;
    font-weight: 500;
    color: #ffffff;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
}